/* 

Project Name: Cookie Monster 
Client: Cookie Monster
Author: Chris Castiglione | www.twitter.com/castig | www.castig.org 
Developed @ One Month in NYC 

*/

body {
	background-color: black;
	/*background: url('../images/cookie-monster.jpg');*/
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	max-width: 1000px;
	margin: auto;
}

#container {
	max-width: 100%;
	color: #ffffff;
	padding: 15px;
}

#counter {
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 20px;
}

h1 {
	font-size: 40px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 0px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	max-width: 80%;
	margin-top: 0px;
	padding: 5px;
}

img {
	width: 300px;
	height: 300px;
	display: block;
	margin: auto;
}

a {
	background-color: #ffffff;
	color: #000000;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	width: 360px;
	padding: 7px 10px 7px 10px;
	border-radius: 15px;
	margin: 15px auto 15px auto;
	display: block;
}

